/* still room for improvement in the CSS. For exercise purposes only.
In this case look at the template and write the JavaScript code. */

:root {
  --background-beige: #f2efea;
  --black-colour: #000;
  --white-colour: #fff;
  --grey-colour: #6B6B6B;
  --dark-red: #6E2A27;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header img {
  display: block;
}

nav a {
  color: var(--dark-red);
  letter-spacing: 4px;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav,
nav ul,
nav li,
header h2 {
  display: inline;
}

a,
a img {
  text-decoration: none;
  transition: all 0.3s;
}

nav li + li::before {
  content: '/';
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  pointer-events: none;
  display: inline-block;
}

a:hover,
a:hover img {
  color: hotpink;
  transform: scale(1.2);
}

body {
  background: var(--background-beige);
  font-family: "avenir";
  /*    font-weight: bolder;*/
  /*  margin: 40px 30px;*/
  margin: 0 auto;
  color: var(--grey-colour);
  padding: 2rem;
  max-width: calc(1350px - 4rem);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  /*  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));*/
  grid-gap: 5rem 3rem;
  /*  max-width: calc(1350px - 4rem);*/
  /*  background: red;*/
  margin-top: 50px;
}

.bike,
.box {
  display: flex;
  flex-flow: column;
  /*  max-width: 500px;*/
  /* If there is only one, it'll take up full width */
}

.figure-img {
  order: -1;
  align-self: center;
  /*  width: 300px;*/
  padding: 0px;
  margin: 0px;
}

/* Styling */

body {}

main {}

article {
  background: #fff;
  padding: 10px;
}

h2,
nav {
  font-family: "domine";
  font-weight: 100;
  text-transform: uppercase;
}

p {
  font-style: italic;
  color: var(--grey-colour);
}

.fetched {
  font-family: serif;
  font-weight: 600;
  color: var(--black-colour);
  font-size: 18px;
  margin-left: 0.7rem;
}

/*
.headerH2 {
  display: inline;
  letter-spacing: 4px;
  font-size: 20px;
}

.brandsTop {
  color: var(--dark-red);
}
*/

/*
.img-bike {
  width: 300px;
}
*/

.bikeStock {
  width: 210px;
  margin: 0 0 15px;
}

.brand {
  margin: 0 10px;
  font-size: 12px;
  font-weight: bolder;
}

.model {
  margin: 3px 10px;
  font-size: 17px;
  color: var(--grey-colour);
  letter-spacing: 4px;
  padding-bottom: 5px;
  border-bottom: solid .5px rgba(100, 100, 100, 0.8);
  /* lacj */
  /*border-bottom: 1px solid red;*/
}

.fullSpecs {
  display: block;
  margin: 0 auto;
  border-radius: 1px;
  text-transform: uppercase;
  border: solid 1px;
  color: var(--dark-red);
  font-size: 18px;
  padding: 6px 9px;
}

.box {
  border: solid .3px #f2efea;
  margin: 10px;
  padding: 10px;
}

.box p {
  border-bottom: solid .3px #f2efea;
  /*  padding: 1rem 0 0 0;*/
}

/*
.thinLines {
  border: solid .3px #f2efea;
  margin: 0px;
}

.thickLines {
  border: solid .5px grey;
  margin: 0 10px;
}
*/

#loader {
  width: 300px;
  background: hotpink;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  /*  animation: spin 5s infinite linear;*/
}

#loader line {
  animation: spin 2s infinite linear;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#loader line:nth-child(2) {
  animation-delay: 0.2s;
}

#loader line:nth-child(3) {
  animation-delay: 0.4s;
}

#loader line:nth-child(4) {
  animation-delay: 0.6s;
}

#loader line:nth-child(5) {
  animation-delay: 0.8s;
}

.hide {
  display: none;
}

.colourDiv {
  width: 18px;
  height: 18px;
  display: inline-flex;
  margin: 0px 6px;
}
